/* !Basic Design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ! ======= Shared Style ======= */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px; 
}
.container{
  width: 95vw;
  margin: 0 auto;
  padding: 0;;
}
.dflex{
  display: flex;
  align-items: center;
}






/* * ======= Nav bar design ======= */
.nav{
    background-color: rgb(233, 233, 233);
    max-height: 100px;
    justify-content: space-between;
    padding: 10px 30px;
}
/* * ======= Nav Left side ======= */
.nav-child1{
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-child1 h2{
  color: #006747;
  font-weight: 900;
}

/* * ======= Nav Right side ======= */
.nav-child2{
  gap: 10px;
  background-color: red;
  gap: 30px;
  padding: 10px 20px;
  
}

.nbtn{
  display: flex;
  gap: 10px;
  background-color: yellow;
  padding: 6px 30px;
  border-radius: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.nbtn img{
  width: 20px;
}



/* * ======= Main Section design ======= */

.main{
  background-color: 
background: #01452F;
background: linear-gradient(90deg, rgba(1, 69, 47, 1) 0%, rgba(1, 125, 86, 1) 53%, rgba(1, 69, 47, 1) 100%);
}
  min-height: 300px;
}
/* !Reserve

*/